body{
  background-color: rgb(130, 171, 241);
  font-family: 'Tomorrow', sans-serif;
  color: rgb(255, 137, 28);
}

img {
  max-width:100%;
}

p.bio{
  font-weight: 500;
  color: black;
  font-size: 20px;
  padding-bottom: 10px;
}

.entire-screen{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.big-container{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.info{
  width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-bottom: 10px;
}

.header{
  padding-bottom:25px;
}

.resume{
  width: 250px;
  padding-bottom: 10px;
}

.contact{
  width: 250px;
  padding-bottom: 20px;
}


.name{
  width: 500px;
  max-width: 100%;
  height: 300px;
}

.name img {
  max-width: 100%;

}


.menu-icons{
  height:100vh;
  width: 100%
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row{
  width: 500px;
  display: grid;
  justify-content: center;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 150px 150px;
  grid-gap: 10px;

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
  /* justify-content: space-around;
  align-content: space-between; */
  align-items: center;
}

/* .row > div{
  display: flex;
  justify-content: center;
} */


.icon {
  max-width: 90%;
}

.icon-h{
  width: 130px;
  height: 90px;

}

.icon-v{
  height: 150px;
  width: 110px;

}

.icon-woah{
  width: 120px;
  height: 120px;
}

.icon-photo{
  width: 120px;
  height: 105px;
}

.icon-pf{
  width: 145px;
  height: 110px;
}

.icon-mgdgd{
  width: 145px;
  height: 90px;
}

.icon-edify{
  width: 120px;
  height: 160px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.icon-stop{
  /* width: 135px; */
  height: 110px;
}

.icon-twsm{
  width:130px;
  height: 95px;
}

.icon-excel{
  width:120px;
  height: 90px;
}

.icon-felt{
  height: 130px;
  width: 95px;
}

.icon-frown{
  width:130px;
  height: 100px;
}
.project-lang{
  width: 45%;
  /* display: flex; */
  flex-direction: row;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.nelson-doc{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-around;
}


.woah{
  width: 680px;
}

.poster{
  width: 680px;
}

.photos{
  width: 680px;
}

.pf{
  width: 680px;
}

.mgdgd{
  width: 680px;
}

.edify{
  width: 680px;
}

.stop{
  width: 680px;
}

.twsm{
  width: 680px;
}

.excel{
  width: 680px;
}
.felt{
  width: 680px;
}

.frown{
  width: 680px;
}

video{
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery {
  width:100%;
  /* background:red; */
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.gallery img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.horse{
  width: 120px;
  height: 90px;
}
